@import url("https://fonts.googleapis.com/css?family=Lato|Roboto&display=swap");

body {
  background-color: black;
  color: white;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  height: 100vh;

}

@media (min-width: 320px) {
  .container-grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 237px 1fr;
    padding: 5px;
    justify-content: center;
    align-content: center;
    /* justify-items: center; */
    /* align-items: center; */
  }

  .nasa-img {
    width: 100%;
  }

  .img-info {
    /* border: 1px solid white; */
    padding: 7px;
  }

  .title {
    /* border: 1px solid white; */

    font-size: 2em;
    /* align-self: center; */
    text-align: center;
    font-weight: bold;
    letter-spacing: 1.5px;
    margin: 0;
    margin-top: 5px;
  }

  .copyright {
    /* border: 1px solid white; */
    text-align: center;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    font-size: 1em;
    font-weight: 500;

  }

  .explanation {
    /* border: 1px solid white; */
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    text-align: justify;

  }

}