@import url("https://fonts.googleapis.com/css?family=Lato|Roboto&display=swap");

body {
  background-color: black;
  color: white;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
}

@media (min-width: 320px) {
  .container-grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 237px 1fr;
    padding: 5px;
  }

  .nasa-img {
    width: 100%;
  }

  .img-info {
    padding: 7px;
  }

  .title {
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1.5px;
  }

  .copyright {
    text-align: center;
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    font-size: 1em;
    font-weight: 500;
  }

  .explanation {
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
    text-align: justify;
  }

}